<section class="my-5" id="contact">
  <div class="container">
    <div class="">
      <div class="g-5 py-5">
      <h1 class="display-5 fw-bold text-dark mb-4 text-center">Contact me</h1>
      <div class="mx-auto">
        <p class="lead mb-3">
          If you're interested in connecting or have any inquiries, don't
          hesitate to reach out to me. You can contact me via
        </p>
        <ul class="list-group list-group-flush my-5">
          <li class="list-group-item">
            <i class="bi-phone"></i> Phone:   +91 8838109535
          </li>
          <li class="list-group-item">
            <i class="bi-envelope"></i> Email:deena011197@gmail.com
          </li>
          <li class="list-group-item">
            <i class="bi-geo-alt"></i> Address: Trichirapalli,Tamilnadu
          </li>
        </ul>

        <p class="lead mb-3">
          Feel free to contact me anytime, and I am eager to discuss any
          opportunities or projects you have in mind. Looking forward to hearing
          from you
        </p>
      </div>
    </div>
  </div>
  </div>
</section>
