<section class="my-5" id="contact">
  <div class="container">
    <div class="row flex-lg-row-reverse g-5 py-5">
      <h1 class="display-5 fw-bold text-dark mb-4 text-center">Contact me</h1>
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Send message</h1>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Enter name"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">Subject</label>
          <input
            type="email"
            class="form-control"
            id="subject"
            placeholder="subject"
          />
        </div>
        <div class="mb-3">
          <label for="comments" class="form-label">Comments</label>
          <textarea class="form-control" id="comments" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-dark">Send message</button>
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-5">Get in Touch</h1>
        <p class="lead mb-3">
          If you're interested in connecting or have any inquiries, don't
          hesitate to reach out to me. You can contact me via
        </p>
        <ul class="list-group list-group-flush my-5">
          <li class="list-group-item">
            <i class="bi-geo-alt"></i> Phone: +91 8838109535
          </li>
          <li class="list-group-item">
            <i class="bi-phone"></i> Email:deena011197@gmail.com
          </li>
          <li class="list-group-item">
            <i class="bi-envelope"></i> Address: Trichirapalli,Tamilnadu
          </li>
        </ul>

        <p class="lead mb-3">
          Feel free to contact me anytime, and I am eager to discuss any
          opportunities or projects you have in mind. Looking forward to hearing
          from you
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
      </div>
    </div>
  </div>
</section>
