<section class="my-5" id="skill">
  <div class="container">
    <div class="text-secondary text-center">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-dark mb-4">Skills</h1>
        <div class="card-group">
          <div class="d-flex flex-wrap">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
              <div class="card border-dark mb-3 flex-fill">
                <div class="card-body text-dark">
                  <h5 class="card-title">Web Development</h5>
                  <p class="card-text">
                    From dynamic and interactive websites to sophisticated web
                    applications, I build responsive and scalable solutions
                    using the latest front-end technologies such as HTML5, CSS3,
                    and JavaScript. I specialize in frameworks like React and
                    Angular to ensure fast and engaging user interfaces.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
              <div class="card border-dark mb-3 flex-fill">
                <div class="card-body text-dark">
                  <h5 class="card-title">Back-End Development</h5>
                  <p class="card-text">
                    I handle the server-side development with expertise in
                    Node.js and Express, creating robust APIs and ensuring
                    seamless data flow between the front-end and back-end
                    components. This ensures your applications are not only
                    user-friendly but also efficient and secure.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
              <div class="card border-dark mb-3 flex-fill">
                <div class="card-body text-dark">
                  <h5 class="card-title">Mobile App Development</h5>
                  <p class="card-text">
                    Reach your audience on the go with intuitive mobile
                    applications for both Android and iOS platforms. I leverage
                    frameworks like Flutter and React Native to build
                    cross-platform apps that are feature-rich and visually
                    appealing.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
              <div class="card border-dark mb-3 flex-fill">
                <div class="card-body text-dark">
                  <h5 class="card-title">Database Management</h5>
                  <p class="card-text">
                    I design and manage databases using technologies like MySQL
                    and MongoDB, ensuring optimal performance, data security,
                    and scalability for your applications.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





