<section class="my-5" id="about">
  <div class="container">
    <div class="text-secondary text-center">
      <div class="g-5 py-5">
        <h1 class="display-5 fw-bold text-dark mb-4">About me</h1>
        <div class="mx-auto">
          <p class="fs-5">
            I am a passionate Full Stack Web and Mobile Developer with expertise
            in a range of technologies, including Node.js, React, Angular,
            Express, Flutter, MySQL, and MongoDB. My journey in the tech world
            has been fueled by curiosity and a love for crafting seamless
            digital experiences. I thrive on clean code, continuous learning,
            and collaboration, and I'm dedicated to creating impactful solutions
            that drive innovation. Let's connect and turn your ideas into
            reality!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
