<section class="my-5">
  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="/assets/images/herosectionimg.svg"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          Hi, I'm Deenadayalan, a full stack web and mobile developer.
        </h1>
        <p class="lead">
          As a passionate and skilled Full Stack Web and Mobile Developer, I
          bring innovative ideas to life through captivating digital
          experiences. With a strong background in both front-end and back-end
          technologies, I'm always excited to take on new challenges and create
          solutions that make a difference.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>
</section>
