<section class="my-5" id="work">
  <div class="container">
    <h1 class="display-5 fw-bold text-dark mb-4 text-center">Work</h1>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="/assets/images/work.svg"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="fw-bold lh-1 mb-3">Company Name:Szigony Technologies</h1>
        <p class="lead">
          At Szigony Technologies, I worked as a Full Stack Web Developer,
          specializing in the MEAN stack. I contributed to various web
          development projects, creating interactive applications using MongoDB,
          Express.js, Angular (or AngularJS), and Node.js. Collaborating with a
          talented team, I focused on delivering high-quality solutions that met
          clients' needs and surpassed expectations.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
      </div>
    </div>
  </div>
</section>
